/* #hamburger {
    display: none;
    height: 40px;
    width: 40px;
} */

body {
    margin: 0;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
}

#apps {
    height: 24px;
    width: 24px;
    padding: 0.45rem;
}

#apps:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 11px 18px 0 26px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-container > a:first-child {
    margin-right: 20px;
}

#right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}

#right-container > a:first-child {
    margin-right: 15px;
}

#right-container > svg {
    fill: gray;
    margin-left: 20px;
    margin-right: 13px;
}

#profile {
    height: 32px;
    width: 32px;
    background-color: darkorange;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 34px;
}

#profile:hover {
    cursor: pointer;
    box-shadow: 0 0.25px 0 0.5px gray,
                0 0 0 4px lightgray;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 49.56px - 47px);
}

#logo {
    height: 92px;
    width: 272px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 12px 20px 12px 14px;
    max-width: 584px;
    width: 30%;
    margin: 30px 0;
}

#search-bar:hover {
    box-shadow: 0 0 4px 1px lightgray;
}

label {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

#search-icon {
    height: 20px;
    opacity: 0.4;
}

#search-input {
    width: 90%;
    height: 150%;
    margin-top: -5px;
}

#search {
    width: 100%;
    height: 100%;
    border: none;
}

#mic-icon {
    align-self: flex-end;
    height: 20px;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: row;
}

.button input {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 20px;
}

footer a {
    display: inline-block;
    padding: 15px 11px 15px 15px;
    color: #70757a;
}

footer a:last-child {
    padding-right: 15px;
}

#leaf {
    height: 14px;
    margin-right: 6px;
}
